---
import Button from "./Button.astro";
---

<section class="cta grid-lg">
  <div class="grid-sm">
    <h2 class="h2">Let Us Tell Your Story</h2>
    <p class="text-muted narrow">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, modi
      aspernatur aliquid quo perspiciatis quam perferendis impedit.
    </p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary" />
    <small class="text-muted">No commitment contact</small>
  </div>
</section>
